name: WebForms

on:
  workflow_call:

env:
  filePath: 'C:\Users\8542\Desktop\test\test.ps1'

jobs:
  commit-check:
    if: ${{ github.ref_protected == false && github.event_name == 'push' }}
    runs-on: self-hosted
    steps:
      - name: check
        run: |
            Write-Host -Object "✅ 提交檢查通過";
  build:
    if: ${{ always() && (needs.check.result == 'success' || github.ref_protected == 'true') }}
    runs-on: self-hosted
    needs: commit-check
    steps:
      - name: build
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
            . $Env:filePath;
            New-Section -SectionHeaderText "NuGet 還原套件";
          
            New-Section;

            New-Section -SectionHeaderText "MSBuild 重建";
            
            New-Section;

            New-Section -SectionHeaderText "複製產物";
          
            New-Section;
  deploy:
    if: ${{ github.ref_protected == true }}
    runs-on: self-hosted
    needs: build
    steps:
      - name: deploy
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
            . $Env:filePath;
            New-Section -SectionHeaderText "部屬";
          
            New-Section;
