name: WebForms

on:
  workflow_call:
      inputs:
        run_portal:
          default: false
          type: boolean

env:
  filePath: 'C:\Users\8542\Desktop\test\test.ps1'

jobs:
  check_build:
    runs-on: self-hosted
    steps:
      - name: check
        if: ${{ !github.ref_protected && github.event_name == 'push' }}
        run: |
            Write-Host -Object "✅ 提交檢查通過";
            
      - name: build
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
            . $Env:filePath;
            New-Section -SectionHeaderText "NuGet 還原套件";
          
            New-Section;

            New-Section -SectionHeaderText "MSBuild 重建";
            
            New-Section;

            New-Section -SectionHeaderText "複製產物";
          
            New-Section;
  deploy:
    if: ${{ github.ref_protected }}
    runs-on: self-hosted
    needs: check_build
    steps:
      - name: deploy
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
            . $Env:filePath;
            New-Section -SectionHeaderText "部屬";
          
            New-Section;
  portal_job:
    if: ${{ inputs.run_portal }}
    runs-on: self-hosted
    needs: deploy
    steps:
      - name: portal
        run: |
            Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass;
            . $Env:filePath;
            New-Section -SectionHeaderText "部屬";
          
            New-Section;    
